<header class="bg-[#F0ECE9] w-full h-screen max-h-screen overflow-hidden">
  <div class="max-w-[1140px] mx-auto flex flex-col items-center py-5">
    <div class="text-center mb-4">
      <h1 class="text-4xl font-bold">Yrmarys Ávila</h1>
    </div>

    <nav>
      <ul class="list-none flex gap-4 justify-center">
        <li class="hover:underline hover:font-semibold hover:cursor-pointer">
          Services
        </li>
        <li class="hover:underline hover:font-semibold hover:cursor-pointer">
          Clients
        </li>
        <li class="hover:underline hover:font-semibold hover:cursor-pointer">
          Let's talk
        </li>
      </ul>
    </nav>
  </div>
  <img
    src="../../../assets/img-default.jpg"
    class="w-full h-full object-cover brightness-75"
    alt="IMG Por defecto"
  />
</header>
<app-services></app-services>
<app-about></app-about>